n8n_reconstructed_v5_manager.json
{
    "name": "Dynamic Schedule Agent (Reconstructed)",
    "nodes": [
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.4,
            "position": [
                64,
                32
            ],
            "id": "61982ca0-3054-4383-b03b-e6cc79e3e964",
            "name": "When chat message received",
            "webhookId": "6baf4c69-b893-49f5-9a79-f71d4942b97d"
        },
        {
            "parameters": {
                "modelName": "models/gemini-3-flash-preview",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                368,
                240
            ],
            "id": "4fe321b1-9d8c-434d-990b-1e8fda3c3a5e",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "2oNyS1XNy9eO7qPH",
                    "name": "Google Gemini(PaLM) Api account 2"
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                512,
                240
            ],
            "id": "8cebb008-734f-40eb-ae7c-e974843829a5",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "=你是一个专业的「加油站排班经理」。你的核心职责是透过对话（LINE）管理排班表，处理突发调班、丢班或请假状况，并确保 Google Sheet 与 Google Calendar 随时同步。\n\n**资料库资讯**：\n- Sheet ID: `1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y`\n- Key Column: `日期` (格式: 2026/01/01)\n- Employee Columns: 黃素珠, 賴桂蘭, 陳美娜, 吳誼婷, 楊依如, 陳彥銘, 黃榮壹, 吳靜蕙, 林群皓, 陳怡芯, 李巧如, 鄭靜慧, 陳昱勳, 林宏諺\n\n**班别代码 (Shift Codes)**：\n- A1: 07:00-14:00 | D: 06:20-12:05 | C: 16:50-21:35\n- B: 11:50-17:05 | E: 16:50-21:00 | F: 10:00-17:00\n- A2: 07:00-10:00 | X/休: 休假\n\n**你的任务 (Task Protocol)**：\n\n1.  **查询班表 (Query)**：\n    - 当收到「明天谁上班？」或「黄素珠下周三班表」等询问，使用 `Read Schedule` 工具读取 Sheet 并回答。\n\n2.  **处理异动 (Handle Adjustments)**：\n    - 当用户提出调班/丢班/请假需求（例如：「黄素珠 1/20 请假」、「赖桂蘭 1/21 改上 D 班」）：\n        - **Step 1**: 确认指令意图与相关人员/日期。\n        - **Step 2**: 使用 `Update Schedule` 工具更新 Google Sheet。\n        - **Step 3**: **同步更新 Google Calendar** (若该日期非休假)。\n            - 必须使用 `Google Calendar` 工具 (Create Event)。\n            - **Summary**: `[姓名] 班表: [代码]` (例: 黃素珠 班表: D)\n            - **Start/End**: 依据代码对照表产生正确时间。\n            - **Description**: \"由 AI 经理调整更新 (Reason: [原因])\"\n\n3.  **主动确认 (Confirmation)**：\n    - 完成更新后，请简短回报：「已将 [姓名] 在 [日期] 的班表更新为 [代码]，并同步至行事历。」\n\n现在的日期是：{{ $json.currentDate }}。请随时准备处理排班异动。"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                496,
                32
            ],
            "id": "b5f6fabb-cb8b-4407-a2dc-a7659d7a5077",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "options": {
                    "includeInputFields": true
                }
            },
            "type": "n8n-nodes-base.dateTime",
            "typeVersion": 2,
            "position": [
                320,
                32
            ],
            "id": "bcff9cd4-03e4-4d7c-97e6-fc1a3088df08",
            "name": "Date & Time"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "line",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                64,
                -176
            ],
            "id": "51150163-f564-4f63-b5b0-a84bc03a4872",
            "name": "Webhook",
            "webhookId": "9d705361-0eed-4504-b08c-2f9846b1f92a"
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n\"replyToken\": \"{{ $json.body.events[0].replyToken }}\",\n\"sessionId\":\"f5d2134c5ba24125986807e7f2f4cf48\",\n\"action\": \"sendMessage\",\n\"chatInput\": \"{{ $json.body.events[0].message.text }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                272,
                -176
            ],
            "id": "5f44a2fc-a469-4840-b0e6-a68389cf79a0",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.line.me/v2/bot/message/reply",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"replyToken\": \"{{$('Edit Fields').first().json.replyToken}}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output.replaceAll('\\n','') }}\"\n    }\n  ]\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                848,
                32
            ],
            "id": "361bf39f-c744-4adb-a302-84965872cf79",
            "name": "HTTP Request",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "S0Qrun6iqqnv9YJM",
                    "name": "Header Auth account 2"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Read the schedule to find out who is working.",
                "operation": "getMany",
                "documentId": {
                    "__rl": true,
                    "value": "1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y",
                    "mode": "list",
                    "cachedResultName": "WorkSchedule",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y/edit"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.7,
            "position": [
                1340,
                40
            ],
            "id": "read-schedule-tool",
            "name": "Read Schedule",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "MNr7Hns0arjkklic",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Update the schedule. Use this to change shifts, mark leave, or swap duties.",
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y",
                    "mode": "list",
                    "cachedResultName": "WorkSchedule",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y/edit"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eNkWVipmFheU-IzzbnflFlY5scRq07HPFt8ZzrTWI2Y/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "matchingColumns": [
                        "日期"
                    ],
                    "schema": [
                        {
                            "id": "日期",
                            "displayName": "日期",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "黃素珠",
                            "displayName": "黃素珠",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false
                        },
                        {
                            "id": "賴桂蘭",
                            "displayName": "賴桂蘭",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false
                        },
                        {
                            "id": "陳美娜",
                            "displayName": "陳美娜",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.7,
            "position": [
                1500,
                40
            ],
            "id": "update-schedule-tool",
            "name": "Update Schedule",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "MNr7Hns0arjkklic",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "Date & Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Date & Time": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Date & Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Schedule": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Schedule": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "new-version-id-123456",
    "meta": {
        "instanceId": "eee95304eb32873ce2d77c93a9bb91c285ba1f47f0423821515a048317002ebc"
    },
    "id": "hhojPaJ6ZmWt9rxPVrT72",
    "tags": []
}